<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--0:不写文本log  1:写文本log-->
    <add key="WriteTextLog" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="mysqlConnection" connectionString="Server =47.92.196.208; Database =hoshino_dev; Uid =root; Pwd =root123aQ!;Pooling=true; Max Pool Size=100;Min Pool Size=10;Allow Batch=true; Allow User Variables=True;Charset=utf8;SslMode=None;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>